<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Images</title>
    <%- include("include/header") -%>
  
  
</head>

<body>
    <header>
        
        
      <%- include("include/navigation") %>
      <main>

        <section class="py-5 text-center container">
          <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-light">Galeria de imagenes</h1>
              <p class="lead text-muted">Este es un ejemplo de galeria de imagenes.</p>
            </div>
          </div>
        </section>
      
        <div class="album py-5 bg-light">
          <div class="container">
      
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <% images.forEach(function (image) { %>

              <div class="col">
                <div class="card shadow-sm">
                  <img src="<%= image.path %>" class="card-img-top" alt="<%= image.filename %>">
      
                  <div class="card-body">
                    
                    <h5 class="card-title"><%= image.title %></h5>
                    <p class="card-text"><%= image.description %></p>
                    <p class="card-text"><%= format(image.created_at) %></p>
                    <a href="/image/<%=image._id %>" class="btn btn-info">Ver imagen</a>
                  </div>
                </div>
              </div>
              <% }) %>
              

            </div>
          </div>
        </div>
      
      </main>
</body>

</html>